.container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.direction {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--color-accent);
  color: var(--color-secondary);
}

.clear {
  background-color: var(--color-dark);
  color: var(--color-accent);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  font-weight: 600;
}

.amount {
  background-color: var(--color-bg-300);
  border-radius: 1rem;
  padding: 1rem;
  color: var(--color-secondary);
}
