.form {
  display: grid;
  background-color: var(--color-bg-300);
  padding: 0.5rem 1rem;
  gap: 1rem;
  border-radius: 2rem;
  margin-bottom: 1rem;
}

.name {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--color-main);
  color: var(--color-secondary);
  border: 3px solid var(--color-dark);
  &::placeholder {
    color: var(--color-light);
    font-weight: 600;
  }
}

.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  border: none;
  margin: 0 auto;
}

.button {
  text-transform: capitalize;
  font-family: var(--font-main);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid var(--color-dark);
  color: var(--color-accent);
  background-color: var(--color-dark);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

@media (width > 1024px) {
  .form {
    align-items: center;
    justify-content: center;
    grid-template-columns: 2fr 1fr auto;
  }
}
